:root {
    --color-theme: #196de3;
    --color-background: #f0f4f8;
    --color-white: #ffffff;
    --color-black: #333333;
    --color-border: #ccc;
    --color-text: #000000;
    --color-button-hover: #145bb5;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--color-background);
    font-family: 'Apple SD Gothic Neo', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* 헤더 */
#main-header {
    width: 100%;
    background-color: var(--color-theme);
    color: var(--color-white);
    position: fixed;
    padding-left: 25px;
    padding-right: 2cqmin;
    top: 0;
    left: 0;
    z-index: 1000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.header-content {
    max-width: 1200px;
    padding: 15px 0px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.header-content h1 {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
    color: var(--color-white);
}

#logo {
    text-decoration: none;
    color: var(--color-white);
    cursor: pointer;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: calc(100vh - 80px - 60px);
    padding: 20px 20px 0 20px;
    box-sizing: border-box;
}

/* 채팅 영역 */
.chat-frame {
    flex: 4.5;
    width: 100%;
    height: 100%;
    background-color: var(--color-white);
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding: 16px;
    box-sizing: border-box;
    overflow-y: auto;
}

#chat-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 0px 0px 20px 0px;
    overflow-y: auto;
    flex-direction: column;
    gap: 15px;
    overflow-wrap: break-word;
    line-height: 1.6;
    white-space: pre-wrap;
}

#input-container {
    flex-shrink: 0;
    border-radius: 15px;
    background-color: var(--color-white);
    border: 1px solid var(--color-border);
    box-sizing: border-box;
}

#user-input {
    box-sizing: border-box;
    border-radius: 15px;
    width: 100%;
    height: 98px;
    min-height: 98px;
    padding: 12px;
    font-size: 18px;
    resize: none;
    overflow-y: auto;
    line-height: 1.5;
    outline: none;
    border: none;
}

.bottom-toolbar {
    height: 50px;
    background-color: var(--color-white);
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: bold;
    color: var(--color-black);
    border-top: 1px solid var(--color-border);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.bottom-toolbar > button {
    height: 50px;
    width: 50px;
    border: none;
    color: var(--color-text);
    cursor: pointer;
    transition: background-color 0.3s ease;
    background-color: transparent;
    border-right: 1px solid var(--color-border);
}

.bottom-toolbar > button:hover {
    background-color: var(--color-border);
}

#autoChange-btn {
    border-bottom-left-radius: 15px;
}

#autoChange-btn.active{
    background-color: var(--color-border);
}

#translate-kor-to-jp, #translate-jp-to-kor, #send-btn {
    background-color: var(--color-theme);
    color: var(--color-white);
}

#translate-kor-to-jp:hover, #translate-jp-to-kor:hover, #send-btn:hover {
    background-color: var(--color-button-hover);
}

#translate-kor-to-jp {
    margin-left: auto;
}

#send-btn {
    border: none;
    border-bottom-right-radius: 15px;
}

.message {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border-radius: 15px;
    word-wrap: break-word;
    font-size: 14px;
    white-space: pre-wrap;
    box-sizing: border-box;
    line-height: 1.5;
    padding: 10px;
}

.text {
    flex: 1;
    margin-right: 10px;
}

.translate-btn {
  border: none;
  border-radius: 8px;
  padding: 6px 10px;
  cursor: pointer;
  font-size: 14px;
  color: #333;
  transition: background 0.3s ease;
}

.translate-btn:hover {
  background: #ddd;
}

.sent {
    align-self: flex-end;
    background-color: var(--color-background);
    color: var(--color-text);
}

.received {
    align-self: flex-start;
    color: var(--color-text);
    padding: 0 10px;
}

/* 봇 메시지 버튼 컨테이너 */
.chat-button-container {
    margin-top: 10px;
    display: flex;
    justify-content: flex-start;
    gap: 5px;
}

/* 봇 메시지 버튼 */
.chat-button {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: var(--color-white);
    border: 1px solid var(--color-border);
}

.chat-button:active {
    transform: scale(0.95);
    transition: transform 0.1s ease;
}

/* 푸터 */
#main-footer {
    width: 100%;
    background-color: var(--color-black);
    color: var(--color-white);
    text-align: center;
    padding: 15px 20px;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1000;
}

.footer-content {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.footer-content p {
    margin: 0;
    font-size: 14px;
}
