:root {
    --color-theme: #c23e3e;
    --color-background: #f0f4f8;
    --color-white: #ffffff;
    --color-black: #333333;
    --color-border: #ccc;
    --color-text: #000000;
    --color-button-hover: #8d2121;
}

body {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    background-color: var(--color-background);
    font-family: 'Apple SD Gothic Neo', sans-serif;
    flex-direction: column;
}

/* 헤더 */
#main-header {
    width: 100%;
    background-color: var(--color-theme);
    color: var(--color-white);
    padding-left: 25px;
    padding-right: 25px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

.header-content {
    padding: 15px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-content h1 {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
    color: var(--color-white);
}

#logo {
    text-decoration: none;
    color: var(--color-white);
    cursor: pointer;
}

#loginBtn {
    padding: 8px 18px;
    background: #3498db;
    border: none;
    border-radius: 8px;
    font-size: 15px;
    font-weight: 500;
    color: white;
    cursor: pointer;
    transition: background 0.3s ease;
}

#loginBtn:hover {
    background: #2980b9;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1200;
  left: 0; top: 0;
  width: 100%; height: 100%;
  background: rgba(0,0,0,0.5);
  backdrop-filter: blur(2px);
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: var(--color-white);
  width: 320px;
  margin: 12% auto;
  padding: 25px 20px;
  align-items: center;
  border-radius: 14px;
  box-shadow: 0 6px 16px rgba(0,0,0,0.2);
  position: relative;
  animation: fadeInUp 0.3s ease;
}

.modal-content h2 {
  margin: 0 0 20px;
  font-size: 20px;
  text-align: center;
  color: var(--color-black);
}

.modal-content label {
  display: block;
  margin-bottom: 10px;
  font-size: 14px;
  color: var(--color-black);
}

.modal-content input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 6px;
  border: 1px solid var(--color-border);
  font-size: 15px;
  box-sizing: border-box;
}

.login-submit {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  background: #3498db;
  border: none;
  border-radius: 6px;
  font-size: 15px;
  font-weight: bold;
  color: white;
  cursor: pointer;
  transition: background 0.3s ease;
}

.login-submit:hover {
  background: #2980b9;
}

#closeBtn {
  position: absolute;
  top: 12px; right: 16px;
  font-size: 1.6rem;
  font-weight: bold;
  color: #666;
  cursor: pointer;
  transition: color 0.2s ease;
}

#closeBtn:hover {
  color: #000;
}

#google-login-btn {
  display: flex;
  justify-content: center;
}


.container {
    width: 100%;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 90px 20px 0px 20px;
    box-sizing: border-box;
}

/* 채팅 영역 */
.chat-frame {
    width: 100%;
    height: 100%;
    background-color: var(--color-white);
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    padding: 16px 0px;
    box-sizing: border-box;
}

#chat-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 0px 2px 20px 16px;
    overflow-y: auto;
    gap: 10px;
    overflow-wrap: break-word;
    line-height: 1.6;
    white-space: pre-wrap;
    scrollbar-gutter: stable;
}


.message {
    width: 100%;
    border-radius: 15px;
    word-wrap: break-word;
    font-size: 20px;
    white-space: pre-wrap;
    box-sizing: border-box;
    line-height: 1.5;
    padding: 10px;
}

.sent {
    align-self: flex-end;
    background-color: var(--color-background);
    color: var(--color-text);
}

.received {
    align-self: flex-start;
    color: var(--color-text);
    padding: 0 10px;
}

.originalMessage {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
}

.text {
    flex: 1;
    margin-right: 10px;
}

.translate-btn {
  border: none;
  border-radius: 8px;
  padding: 6px 10px;
  cursor: pointer;
  font-size: 14px;
  color: #333;
  transition: background 0.3s ease;
}

.translate-btn:hover {
  background: #ddd;
}

.translationBox {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    gap: 6px;
    border-top: 1px solid #ccc;
    font-size: 20px;
    padding-top: 10px;
}

.translationBox .meaning {
    color: #196de3;
}

#translation-preview-container {
    width: 100%;
    padding: 0px 16px;
    margin-bottom: 0px;
    box-sizing: border-box;
}

.translation-preview {
    width: 100%;
    border-top: 1px solid #ccc;
    padding: 10px;
    box-sizing: border-box;
    font-size: 20px;
}

.translation-preview .furigana {
    font-size: 20px;
}

.translation-preview .furigana ruby,
.text ruby {
    font-size: 24px;
    font-weight: bold;
}

.translation-preview .furigana ruby rt,
.text ruby rt {
    font-size: 16px;
    color: #555;
}

.translation-preview .meaning {
    color: #196de3;
}

#input-container {
    margin: 0px 16px;
    flex-shrink: 0;
    border-radius: 15px;
    background-color: var(--color-white);
    border: 1px solid var(--color-border);
    box-sizing: border-box;
}

#user-input {
    box-sizing: border-box;
    border-radius: 15px;
    width: 100%;
    height: 98px;
    min-height: 98px;
    padding: 12px;
    font-size: 18px;
    resize: none;
    overflow-y: auto;
    line-height: 1.5;
    outline: none;
    border: none;
}

.bottom-toolbar {
    height: 50px;
    background-color: var(--color-white);
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: bold;
    color: var(--color-black);
    border-top: 1px solid var(--color-border);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.bottom-toolbar > button {
    height: 50px;
    width: 50px;
    border: none;
    color: var(--color-text);
    cursor: pointer;
    transition: background-color 0.3s ease;
    background-color: transparent;
    border-right: 1px solid var(--color-border);
}

.bottom-toolbar > button:hover {
    background-color: var(--color-border);
}

#autoChange-btn {
    border-bottom-left-radius: 15px;
}

#autoChange-btn.active{
    background-color: var(--color-border);
}

#translate-kr-to-jp, #translate-jp-to-kr, #send-btn {
    background-color: var(--color-theme);
    color: var(--color-white);
}

#translate-kr-to-jp:hover, #translate-jp-to-kr:hover, #send-btn:hover {
    background-color: var(--color-button-hover);
}

#translate-kr-to-jp {
    margin-left: auto;
}

#send-btn {
    border: none;
    border-bottom-right-radius: 15px;
}

/* 푸터 */
#main-footer {
    width: 100%;
    background-color: var(--color-black);
    color: var(--color-white);
    text-align: center;
    padding: 20px 20px;
    position: static;
    margin-top: 20px;
    z-index: 100;
}

.footer-content {
    margin: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.footer-content p {
    margin: 0;
    font-size: 14px;
}
